{
  "useTabs": true,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "importOrder": ["^(solid|@solid)", "<THIRD_PARTY_MODULES>", "^@/ui/(.*)$", "^@/components/(.*)$", "^@/lib/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss", "prettier-plugin-organize-imports"]
}
