{
  "useTabs": true,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "importOrder": ["^react", "<THIRD_PARTY_MODULES>", "^@/views/(.*)$", "^@/components/(.*)$", "^@/lib/(.*)$", "^@/types/(.*)$", "^[./]"],
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
