@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';

@theme {
	--font-display: 'Sora', sans-serif;
	--color-background: #000;
	--color-foreground: #fff;
}

@layer utilities {
	@keyframes fade-in-top {
		0% {
			opacity: 0;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-in-top {
		animation: fade-in-top 0.5s ease-out forwards;
	}
}

body {
	font-family: var(--font-display);
	background-color: var(--color-background);
	color: var(--color-foreground);
}

.blur-fade {
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	mask-image: linear-gradient(to top, black 70%, transparent);
	-webkit-mask-image: linear-gradient(to top, black 70%, transparent);
}

.blur-fade-xs {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  mask-image: linear-gradient(to top, black 70%, transparent);
  -webkit-mask-image: linear-gradient(to top, black 70%, transparent);
}
