@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import 'tailwindcss';
@plugin "tailwindcss-animate";

@theme {
	--font-display: 'Sora', sans-serif;
	--color-background: #000;
	--color-foreground: #fff;
}

@layer utilities {
	@keyframes fade-in {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	.fade-in {
		animation: fade-in 0.5s ease-out forwards;
	}

	@keyframes fade-in-top {
		0% {
			opacity: 0;
			transform: translateY(-20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-in-top {
		animation: fade-in-top 0.5s ease-out forwards;
	}

	@keyframes fade-in-bottom {
		0% {
			opacity: 0;
			transform: translateY(20px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.fade-in-bottom {
		animation: fade-in-bottom 0.5s ease-out forwards;
	}

	@keyframes glitch {
		0% {
			transform: none;
			filter: none;
		}
		10% {
			transform: translate(-40px, 40px) scale(1.3);
			filter: invert(100%) hue-rotate(360deg);
		}
		20% {
			transform: translate(40px, -30px) scale(0.7);
			filter: contrast(7) brightness(3);
		}
		30% {
			transform: translate(-30px, 50px) rotate(-20deg);
			filter: blur(6px);
		}
		40% {
			transform: translate(30px, -20px) rotate(20deg);
			filter: saturate(12);
		}
		50% {
			transform: translate(-50px, 20px) scale(1.4);
			filter: grayscale(100%) invert(70%);
		}
		60% {
			transform: translate(20px, -40px);
			filter: brightness(0.3) contrast(5);
		}
		70% {
			transform: translate(-30px, 30px) rotate(25deg);
			filter: sepia(100%) blur(3px);
		}
		80% {
			transform: translate(40px, -50px);
			filter: invert(90%) hue-rotate(180deg);
		}
		90% {
			transform: translate(-20px, 20px) scale(0.6);
			filter: opacity(0.3);
		}
		100% {
			transform: none;
			filter: none;
		}
	}

	.animate-glitch {
		animation: glitch 0.05s infinite alternate;
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			visibility: hidden;
		}
	}

	.animate-fade-out-l {
		animation: fadeOut 1s forwards;
	}

	@keyframes fadeOut {
		0% {
			opacity: 1;
		}
		80% {
			opacity: 1;
		}
		100% {
			opacity: 0;
			visibility: hidden;
		}
	}
	.animate-fade-out {
		animation: fadeOut 3s forwards;
	}
}

body {
	font-family: var(--font-display);
	background-color: var(--color-background);
	color: var(--color-foreground);
}

.blur-fade {
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);

	mask-image: linear-gradient(to top, black 70%, transparent);
	-webkit-mask-image: linear-gradient(to top, black 70%, transparent);
}

.blur-fade-xs {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);

	mask-image: linear-gradient(to top, black 70%, transparent);
	-webkit-mask-image: linear-gradient(to top, black 70%, transparent);
}

.ps__rail-y {
	width: 2px !important;
	right: 2px !important;
	background: transparent !important;
  opacity: 1 !important;
}
.ps__thumb-y {
	width: 100% !important;
	background: #fff !important;
	border-radius: 9999px !important;
	opacity: 1 !important;
}
